// colors
$clr-violet: hsl(257, 40%, 49%);
$clr-soft-magenta: hsl(300, 69%, 71%);
$clr-white: hsl(0, 0%, 100%);

// typography
$ff-body: 'Open Sans', sans-serif;
$ff-heading: 'Poppins', sans-serif;

$fs-small: 2.4rem;
$fs-register-desktop: 1.7rem;
$fs-normal-desktop: 1.8rem;
$fs-normal: 3.2rem;
$fs-heading-desktop: 4rem;
$fs-heading: 4.8rem;

$fw-regular: 400;
$fw-semiBold: 600;

// @media width
$desktop: 45em;