@use 'index' as *;
@use 'attribution';

@media (min-width: $desktop) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
}

.landing {
    width: 75rem;
    margin: 0 auto;
    padding: 6.2rem 7.3rem 8rem;
    color: $clr-white;
    text-align: center;
    background-color: $clr-violet;
    background-image: url(../../images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: $desktop) {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: 
            'logo logo'
            'img text'
            'social social';
        width: 144rem;
        height: 80rem;
        margin: 0;
        padding: 5.2rem 8rem 8rem 7.3rem;
        background-image: url(../../images/bg-desktop.svg);
    }
}

.landing__logo {
    grid-area: logo;
    width: 26rem;
    margin-left: -0.5rem; 

    @media (min-width: $desktop) {
        width: 22rem;
    }
}

.landing__illustration {
    grid-area: img;
    margin-top: 12.1rem;

    @media (min-width: $desktop) {
        margin-top: 8.4rem;
    }
}

.intro {
    grid-area: text;

    @media (min-width: $desktop) {
        margin-left: -1rem;
    }
}

.intro__title {
    margin-top: 12rem;
    font-family: $ff-heading;
    font-size: $fs-heading;
    font-weight: $fw-semiBold;
    
    @media (min-width: $desktop) {
        margin-top: 12.8rem;
        font-size: $fs-heading-desktop;
        text-align: left;
    }
}

.intro__text {
    margin-top: 2.6rem;
    font-family: $ff-body;
    font-size: $fs-normal;
    font-weight: $fw-regular;
    line-height: 1.5;

    @media (min-width: $desktop) {
        margin-top: 2rem;
        padding-right: 1rem;
        font-size: $fs-normal-desktop;
        text-align: left;
    }
}

.intro__register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 8.2rem;
    margin: 4.7rem auto 0;
    padding-top: 0.2rem;
    font-family: $ff-heading;
    font-size: $fs-small;
    font-weight: $fw-regular;
    background-color: $clr-white;
    border: 0.1rem solid $clr-violet;
    border-radius: 4.1rem;
    box-shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.3);
    cursor: pointer;

    @media (min-width: $desktop) {
        width: 20rem;
        height: 6rem;
        margin: 2.2rem 0 0;
        font-size: $fs-register-desktop;
    }
}

.intro__register a {
    color: $clr-violet;
    text-decoration: none;
}

.intro__register:hover,
.intro__register:focus {
    background-color: $clr-soft-magenta;
}

.intro__register:hover a,
.intro__register:focus a {
    color: $clr-white;
}

.social {
    grid-area: social;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 12.8rem auto 0;
    list-style-type: none;

    @media (min-width: $desktop) {
        margin: 2.2rem 0 0 auto;
        gap: 1.6rem;
    }
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.6rem;
    height: 5.6rem;
    border: 0.2rem solid $clr-white;
    border-radius: 50%;

    @media (min-width: $desktop) {
        width: 4rem;
        height: 4rem;
        border: 0.1rem solid $clr-white;
    }
}

.social__item:hover,
.social__item:focus {
    border: 0.2rem solid $clr-soft-magenta;
}

.social__item a {
    margin-top: 0.3rem;
    color: $clr-white;
    font-size: 27px;

    @media (min-width: $desktop) {
        margin-top: 0;
        font-size: 18px;
    }
}

.social__item:hover a,
.social__item:focus a {
    color: $clr-soft-magenta;
}

.social__item i {
    margin-top: 0.3rem;
}